h1{
  font-family: Oswald;}

body {
  margin: 0;
  padding: 0;
  line-height: 1.7;
  font-family: "Courier New";
  font-size: 18px;
}

div.formalmenu {
  width: 25%;
  float: right;
  padding: 20px 30px;
  font-size: 15px;
  text-align: center;;
  font-style: italic;
}

aside.formalmenu2{
    color: #b32400;
    border: 2px solid;
    border-radius: 25px;
}

header {
  font-size: 40px;
  text-shadow: 0 0 5px white;
}

header#fm {

  font-size: 25px;
  text-shadow: 0 0 5px white;
}



h2{font-size: 20px;
  text-decoration: underline;
text-align: center;}

li{
  display: inline;
}
