h1{
  font-family: Oswald;}

body {
  margin: 0;
  padding: 0;
  line-height: 1.7;
  font-family: "Courier New";
  font-size: 18px;
}

aside.formalmenu {
  width: 25%;
  float: right;
  padding: 100px 80px;
  font-size: 20px;
}

header {
  font-size: 40px;
  text-shadow: 0 0 5px white;
}

li{
  display: inline;
}
